<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.com.medicalapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/dnalogo"
        android:label="DNA"
        android:roundIcon="@drawable/dnalogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FirstloginActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.RegistrationActivity" />
        <activity android:name=".Activities.ShoppingActivity" />
        <activity android:name=".Activities.TheorybookActivity" />
        <activity android:name=".Activities.DashboardActivity" />
        <activity android:name=".Activities.mbbsprofActivity" />
        <activity android:name=".Activities.neetUgActivity" />
        <activity android:name=".Activities.neetPgActivity" />
        <activity android:name=".Activities.neetSSActivity" />
        <activity android:name=".Activities.PaymentActivity" />
        <activity android:name=".Activities.PhoneloginActivity" />
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.TodayupdateActivity"></activity>
    </application>

</manifest>